body {
	margin: 0;
}

section {
	width: 500px;
	margin: 100px auto 0;
}

.ico {
	display: inline-block;
	width: 15px;
	height: 15px;
	text-indent: -9999px;
	cursor: pointer;

	&.ico-help {
		background-image: url(../img/ico_help.png);
		background-size: cover;
		background-repeat: no-repeat;
	}
}

.tooltip {
	display: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 300px;
	margin: 0 auto;
	background-color: #ccc;

	.close {
		position: absolute;
		right: 0;
		top: 0;
		font-size: 20px;
		font-weight: bold;
		cursor: pointer;
	}
}

button {
	appearance: none;
	border: 0;
	background-color: transparent;
}